.form-control{
    border-color: aqua;
    border: 1px;
}

ion-card{
    background-color: #033153;
}

h3{
    color: white;
}

ion-button{
    --background:#F2A413;
    --background-hover:#F2A413;
}

ion-content{
    --background: #033153; 
}
