<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Restablecer</ion-title>
    <ion-buttons>
      <ion-back-button slot="start"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-header collapse="condense">
      <ion-title size="large">Restablece tu contraseña</ion-title>
    </ion-header>
  <div class="container mt-5">
    <ion-card class="class-body">
      <h3 class="card-title text-center" >Por favor ingresa tu correo electronico</h3>
    </ion-card>
    <div class="form-group">
      <ion-input type="text" class="form-control"></ion-input>
    </div>
    <div class="form-group">
      <ion-button expand="block" (click)="restablecerContrasenia()">Enviar Correo</ion-button>
    </div>
  </div>
</ion-card>
</ion-content>
