<ion-header [translucent]="false">
  <ion-toolbar>
    <ion-title>inicio</ion-title>
  </ion-toolbar>
  <ion-button (click)="atrasSesion()" slot="end">
    <ion-icon name="log-out-outline"></ion-icon>
  </ion-button>
</ion-header>



<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-header>
      <ion-card-title class="text">Bienvenido Usuario</ion-card-title>
      <ion-card-subtitle>Duocuc</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
   
        <div class="item">
        <ion-item>
          <ion-thumbnail slot="start">
            <img alt="" src="assets/img/qr.jpg" />
          </ion-thumbnail>
          <ion-button class="boton" expand="full" slot="start" (click)=" escaneo()"  shape="round">Escanear </ion-button>
        </ion-item>
  
        <ion-item>
          <ion-thumbnail slot="start">
            <img alt=""  src="assets/img/formulario-de-contacto.png" />
          </ion-thumbnail>
      
          <ion-button class="boton" expand="full" slot="start" (click)=" registroasig()"  shape="round"> información asignatura alumno </ion-button>
        </ion-item>
      </div>
       
    
    </ion-card-content>
  </ion-card>

</ion-content>
