<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Inicio de Sesion</ion-card-title>
      <ion-card-subtitle></ion-card-subtitle>
    </ion-card-header>
  <div class="container">  <ion-card-content>
    <ion-input [(ngModel)]="usuario" label="Usuario: "></ion-input>
    <ion-input [(ngModel)]="contrasena" type="password" label="contraseña: "></ion-input>
    <ion-button (click)="onLogin()" color="tertiary"  shape="round"><ion-icon slot="start" name="skull"></ion-icon> Iniciar Sesion </ion-button>
    <ion-button slot="end" color="tertiary" shape="round">Restablecer contraseña</ion-button>
  </ion-card-content>
</div>

  </ion-card>
</ion-content>
