ion-card{
   background-color:#033153;
   border-color: #F2A413;
}

.botonlogin{
   --background:#F2A413;
   --background-hover:#F2A413;
   margin-top: 5%;

}


ion-button{
   --background:#F2A413;
   --background-hover:#F2A413;
}
